.register-form-conteiner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.form-title {
  font-size: 3rem;
  margin: 25px;
}

.form {
  margin: 25px;
  margin-top: 0px;
}

.input-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(108, 106, 106);
  box-sizing: border-box;
  font-size: 1.7rem;
}

.error {
  color: #ff0000;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button-container input[type="submit"] {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 10px;
  margin: 8px 0;
  border: 2px solid #000000;
  cursor: pointer;
  width: 100%;
  font-size: 1.8rem;
}

.button-container input[type="submit"]:hover:enabled {
  background-color: #000000;
  color: #ffffff;
}

.button-container input[type="submit"]:hover:disabled,
.button-container input[type="submit"]:disabled {
  background-color: #7e7575;
  color: #e1d5d5;
  border: none;
}
